<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">


	<servlet>
		<servlet-name>livre</servlet-name>
		<servlet-class>com.book.servlets.livre</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>livre</servlet-name>
		<url-pattern> /livre </url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>budget</servlet-name>
		<url-pattern> /budget </url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>budget</servlet-name>
		<servlet-class>com.book.servlets.budget</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>validation</servlet-name>
		<servlet-class>com.book.servlets.validation</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>validation</servlet-name>
		<url-pattern> /validation </url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>commande</servlet-name>
		<servlet-class>com.book.servlets.commande</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>commande</servlet-name>
		<url-pattern> /commande </url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>accueil</servlet-name>
		<servlet-class>com.book.servlets.accueil</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>accueil</servlet-name>
		<url-pattern> /accueil </url-pattern>

	</servlet-mapping>


	<security-role>
		<description>
    Main user for admin GUI
  </description>
		<role-name>admin</role-name>
	</security-role>


	<servlet>
		<description>Landing Page for Admin GUI</description>
		<display-name>StartServlet</display-name>
		<servlet-name>StartServlet</servlet-name>
		<servlet-class>StartServlet</servlet-class>
	</servlet>

<security-constraint>
    <web-resource-collection>
      <web-resource-name>AllStaff</web-resource-name>
      <url-pattern>/acceuil</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>manager</role-name>
    </auth-constraint>
</security-constraint>
 

	<servlet>
		<servlet-name>gestion</servlet-name>
		<servlet-class>com.book.servlets.gestion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>gestion</servlet-name>
		<url-pattern> /gestion </url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginValid</servlet-name>
		<servlet-class>com.book.servlets.loginValid</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginValid</servlet-name>
		<url-pattern> /loginValid </url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logon</servlet-name>
		<servlet-class>com.book.servlets.logon</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signUp</servlet-name>
		<url-pattern> /signUp </url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>signUp</servlet-name>
		<servlet-class>com.book.servlets.signUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subscribe</servlet-name>
		<url-pattern> /subscribe </url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>subscribe</servlet-name>
		<servlet-class>com.book.servlets.subscribe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logon</servlet-name>
		<url-pattern> /logon </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>traitementCommande</servlet-name>
		<servlet-class>com.book.servlets.traitementCommande</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>traitementCommande</servlet-name>
		<url-pattern> /traitementCommande </url-pattern>

	</servlet-mapping>
  <login-config>
     <auth-method>FORM</auth-method>
     <form-login-config>
        <form-login-page>/logon</form-login-page>
        <form-error-page>/logon</form-error-page>
     </form-login-config>
  </login-config>


	<resource-ref>
		<description> Server Mail </description>
		<res-ref-name>mail/Commande</res-ref-name>
		<res-type>javax.mail.Session</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

</web-app>